:host {
  top: 0px;
  left: 0px;
  display: block;
  position: relative;
}

:host > div > * {
  padding: 0px;
  margin: 0px;
}

:host > div {
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  display: table-cell;
  position: absolute;
}

.v-header-caption {
  text-transform: capitalize;
  text-align: center;
  font-size: 0.7em;
}

.v-header-utility-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
